Webpack (imports/exports)
    Babel
    SCSS
    EsLint
    2 Modes
        -Dev
        Dev Server, SourceMap, EsLint, Not Minified JS & CSS
        -Production
        Minified Code
Git

Production
    1.0.0
    0----------
Development
    1.0.2
    1------------ + -- Pool Request+
    2-------------- | 